html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'League Spartan';
  src: url('/assets/LeagueSpartan-Black.ttf');
  font-weight: normal;
  font-style: normal;
}

/* styles.css */

.header-background {
  width: 100%; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1; /* This places the image behind the content */
}

nav {
  position: relative;
  z-index: 1; /* This places the navigation content above the background image */
  /* Add more styling for your navigation as needed */
}

header h1 {
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 200px;
  font-family: 'League Spartan';
}

header h1 {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
}

header h1 {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
}

nav ul {
  list-style-type: none;
  padding: 0;
  position: fixed;
  top: 0;
  left: 10px;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 25px;
}


.about {
  position: relative; /* or remove the position property altogether */
  height: 500px;
  margin: 0px 50px 0px 50px;
}
