/*******************************ROOT**************************/

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'League Spartan';
  src: url('/assets/LeagueSpartan-Black.ttf');
  font-weight: normal;
  font-style: normal;
}

/* styles.css */

/*******************************HEADER**************************/

.header-container {
  position: relative;
}

.header-background {
  width: 100%; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1; /* This places the image behind the content */
}

header h1 {
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 7vw;
  font-family: 'League Spartan';
}

header h1 {
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
}

nav ul {
  list-style-type: none;
  padding: 0;
  position: fixed;
  top: 0;
  left: 10px;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 25px;
}


/*******************************CAROUSELS**************************/

.carousel-container {
  position: relative;
  top: -1290px; /* Adjust as needed */
  left: 500px; /* Adjust as needed */
  width: 300px; /* Adjust the width of the container to fit the frame */
  height: 200px; /* Adjust the height of the container to fit the frame */
  margin: 0 auto; /* Center the container */
}

.carousel {
  position: relative;
  overflow: hidden;
  left: 70px;
  top: -10px;
  width: 165px; /* Full width of the container */
  height: auto; /* Maintain aspect ratio */
}

.slide {
  display: none;
  width: 100%;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slide.active {
  display: block;
}

.frame {
  position: absolute;
  top: -85px; /* Adjust the position as needed */
  left: 50%;
  transform: translateX(-50%); /* Center the frame horizontally */
  width: 350px; /* Fixed width of the frame */
  height: auto; /* Maintain aspect ratio */
  z-index: 2; /* Ensure the frame is above the carousel */
}

@media (max-width: 600px) {
  .carousel-container {
    width: 80%; /* Adjust the width for smaller screens */
    top: -800px; /* Adjust the position for smaller screens */
  }
}


.second-carousel-container {
  position: relative;
  top: -1500px; /* Adjust as needed */
  left: -750px; /* Adjust as needed */
  /* Add other styling as needed */
}

.second-carousel-container .carousel {
  width: 175px; /* Adjust the width as needed */
  height: auto;
  left: -80px; /* Adjust the height as needed */
  top: -25px;
}

.second-carousel-container .frame {
  width: 600px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
}

.frame-set {
  position: absolute;
  top: -85px; /* Adjust the position as needed */
  left: 50%;
  transform: translateX(-50%); /* Center the frame horizontally */
  width: 550px; /* Fixed width of the frame */
  height: auto; /* Maintain aspect ratio */
  z-index: 2; /* Ensure the frame is above the carousel */
}

/*******************************ABOUT**************************/

.about {
  position: relative; /* or remove the position property altogether */
  height: 500px;
  margin: 0px 50px 0px 50px;
}
